<!DOCTYPE html>
<html>
<head>
  <title>Our Campuses</title>
</head>
<body>
  <h1>Our Campuses</h1>
  <ul>
    <% @campuses.each do |campus| %>
      <li><%= campus['campus_name'] %></li>
    <% end %>
  </ul>
  <form action="/campuses" method="POST">
    <label>Add a campus</label>
    <input type="text" name="campus_name" placeholder="Campus">
    <button type="submit">Submit</button>
  </form>
</body>
</html>